node_modules/
/test-results/
/test-results-api/
/test-results-e2e/
/playwright-report/
/playwright-report-e2e/
/playwright-report-api/
/blob-report/
/playwright/.cache/
/.vscode
/results/
*/results/
playwright-report-api.zip
playwright-report-e2e.zip
.env
*.env
.env.local
.env.production
.env.staging
config.json
